/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  margin: 0;
  width:100%;
  height: 100vh;
  overflow: hidden;
}

p{
  font-family: 'Merriweather', serif;
  margin: 0.5em 0.6em;
  color:#7b3d1f;
}

.library{
  left:-10px;
  top:-10px;
  width:102%;
  height:102vh;
  background: url('./img/library.jpg');
  background-size: cover;
  position: absolute;
  z-index: -100;
  filter: blur(0.17vh);
}

.stand{
  width: 67.5vh;
  height: 67.5vh;
  background: url('./img/stand3.png') no-repeat center center;
  background-size: cover;
  position: fixed;
  margin: 22.2vh calc( (100% - 67.5vh)/2 ) 10.8vh calc( (100% - 67.5vh)/2);
  pointer-events: none;
  z-index: 100;
}

.table{
  width: 100vh;
  height: 22%;
  transform: translateY(80vh);
  margin:0 calc( 50% - 50vh );
  background: url('./img/table2.png') no-repeat center center;
  background-size: cover;
  position: fixed;
  pointer-events: none;
  z-index: 100;
}

.transition{
  transition: all 0.5s ease-in;
}

.info{
  background: url('./img/info.png');
  width: 12vh;
  height: 9vh;
  position: absolute;
  background-size: cover;
  bottom: 15vh;
  margin-left: calc((100% - 85vh) / 2);
  z-index: 101;
   animation: move 4s ease-in-out infinite;
}

#card{
  width: 10vh;
  height: 15.5vh;
  background: url('./img/card.png');
  background-size: cover;
  position: absolute;
  bottom: 5vh;
  margin-left: calc((100% - 67.5vh) / 2);
  z-index: 101;
  transform:  rotateX(75deg) rotateY(-4deg) rotateZ(19deg);
  filter: blur(0.01vh);
  cursor: pointer;
}

.cardtext{
  font-size: 1.5vh;
  pointer-events: none;
}

.cardUP{
  transform:  rotateX(0deg) rotateY(0deg) rotateZ(0deg)!important;
  width: 20vh!important;
  height: 31vh!important;
  margin-left: calc((70% - 67.5vh) / 2) !important;
  bottom: 15vh!important;
  filter: blur(0)!important;
}

.cardtextUP{
  font-size: 3vh;
}

canvas{
  margin-left: -100px;
  transform: rotate(30.25deg);

}

#loader{
  position: absolute;
  width:100%;
  height:100vh;
  background: radial-gradient(100% 200% at 0% 0%, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-color: #9C4B00;
  z-index: 200;
}

#progress{
  text-align: center;
  padding: calc( 50% - 1.8vh ) 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 3vh;
  margin:0;
  pointer-events: none;
}

.title{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 7vw;
  font-weight: bold;
  width:20vw;
  margin:0;
  position: absolute;
  left:3vw;
  top:5vh;
}

.subTitle{
  font-size: 1vw;
  font-weight: 300;
  display: inherit;
line-height: 10vh;
}


.loadingS{
  width:46vh;
  height:46vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-sizing: border-box;
  border-radius: 100vh;
}

@keyframes move{
  0%,100%{
    transform: translate(0,0);
  }
  50%{
    transform: translate(-1vh,-1vh);
  }
}
